
@tailwind utilities;

@layer utilities {
  @keyframes loaderBar {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-loaderBar {
    animation: loaderBar 1.5s infinite linear;
  }
}
